@charset "utf-8";
/* リセット　*/

/*利用するタグによってこちらの内容は増やす*/
html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #000;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    width: 100%;
    vertical-align: bottom;
    border: none;
}
.pcnav{
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 960px;
    margin: 0 auto;
}
.pcnav li{
    padding: 10px;
}
.wrap {
    display: flex;
    flex-wrap: wrap;
     max-width: 960px;
     margin: 0 auto;
     justify-content: space-between;
}
.wrap div{
    width: 30%;
    height: 300px;
    margin-bottom: 10px;
    text-align: center;
    background: red;
    color: aliceblue;
}

@media screen and (max-width: 499p) {
  .pcnav{
      display: block;

}
}